body{
    background-image: url('../images/backgroundimgforcontents1.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.images{
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.images1{
    width: 1200px;
    height: 500px;
}
.images2{
    width: 1300px;
    height: 500px;
}
.images3{
    width: 500px;
    height: 600px;
    display: block;
}
h1{
    font-size:500%;
    text-align:center;
}
h2{font-size: 300%;}
h3{font-size: 200%;}
h4{font-size: 150%}
h5{font-size: 120%;}
p{font-size:170%;}
.pre1{font-size: 200%;}
.tableheading{
    font-size: 200%;
    text-align: center;
}
.tablecontent{font-size: 150%;}
table, th, td {
    border: 3px solid black;
    border-radius: 10px;
  }

@media only screen and (max-width: 1180px){
    .images{
        width: 500px;
        height: 500px;
    }
    .images1{
        width: 1200px;
        height: 500px;
    }
    .images2{
        width: 1300px;
        height: 500px;
    }
    .images3{
        width: 500px;
        height: 600px;
    }
    h1{font-size:500%;}
    h2{font-size: 300%;}
    h3{font-size: 200%;}
    h4{font-size: 150%}
    h5{font-size: 120%;}
    p{font-size:170%;}
    .pre1{font-size: 200%;}
    .tableheading{font-size: 200%;}
    .tablecontent{font-size: 150%;}
}
@media only screen and (max-width: 998px){
    .images{
        width: 400px;
        height:400px;
    }
    .images1{
        width: 1000px;
        height: 400px;
    }
    .images2{
        width: 1100px;
        height: 400px;
    }
    .images3{
        width: 400px;
        height: 500px;
    }
    h1{font-size:300%;}
    h2{font-size: 200%;}
    h3{font-size: 150%;}
    h4{font-size: 120%}
    h5{font-size: 110%;}
    p{font-size:150%;}
    .pre1{font-size: 160%;}
    .tableheading{font-size: 1600%;}
    .tablecontent{font-size: 130%;}
}

