body{
    background-image: url('../images/contentbackimg.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-size: 220%;
    color: aliceblue;
    text-align: center;
    
}

.contentseng a{
    font-size: 190%;
    display:block;
    padding: 10px,30px;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: lighter;
    text-transform: capitalize;
    border-radius: 200px;
    text-decoration:none;
    background-color: transparent;
    color: rgb(255, 102, 0);
    margin-right: 15px;
    border: 1px solid white;
    
}

@media only screen and (max-width: 1180px){
    h1{font-size: 220%;}
    .contentseng a{font-size: 190%;}
}
@media only screen and (max-width: 998px){
    h1{font-size: 180%;}
    .contentseng a{font-size: 160%;}
}
@media only screen and (max-width: 768px){
    h1{font-size:130%;}
    .contentseng a{font-size: 130%;}

}